<template>
    <f7-list accordion-list class="icon-bg-color">
        <f7-list-item accordion-item :title="title.replace('_', ' ')">
            <f7-row class="align-center secondary-color-bg">
                <f7-col>
                    <f7-link
                        v-if="location_icon"
                        target="_blank"
                        :href="location_icon"
                        class="map-icon"
                        external
                    >
                        <img src="../../static/icons/map.png" alt="map" />
                    </f7-link>
                </f7-col>
                <f7-col v-if="has_extended_info">
                    <f7-button @click="getSoilOperations(has_extended_info)" class="align-right"
                        ><img
                            src="../../static/icons/3dot.png"
                            alt="more details"
                    /></f7-button>
                </f7-col>
            </f7-row>
            <f7-accordion-content>
                <f7-block
                    v-for="(value, key) in step_information"
                    :key="`${key}-${value}`"
                >
                    <f7-row
                        class="info"
                        v-if="
                            typeof value != 'object' &&
                            key != 'operation' &&
                            key != 'location'
                        "
                    >
                        <f7-col width="40" class="title-info">
                            {{ key.replace("_", " ") }}
                        </f7-col>
                        <f7-col width="60" class="content-info">
                            {{ value.replaceAll('"', "") }}
                        </f7-col>
                    </f7-row>
                    <f7-row v-if="key == 'map' && map_info" class="info">
                        <f7-col
                            v-if="key == 'map' && map_info"
                            width="100"
                            class="title-info"
                        >
                            <div id="map" class="map"></div>
                        </f7-col>
                    </f7-row>
                </f7-block>
            </f7-accordion-content>
        </f7-list-item>
    </f7-list>
</template>


<script>
import getParcel from "../../services/getParcel.js";
import store from "../../js/store.js";
import { onMounted, ref, onUpdated, watch } from "vue";
import { f7 } from "framework7-vue";

export default {
    props: [
        "step_information",
        "title",
        "has_extended_info",
        "map_info",
        "packaging_operation",
        "location_icon",
    ],
    setup(props) {
        const url = ref(store.state.soil_operation);
        const internal_map_info = ref(props.map_info);
        const step_information =  ref(props.step_information);

        const getSoilOperations = (key) => {
            if (key == "parcel") {
              f7.preloader.show();
              getParcel(url.value);
            } else if (key == "certificates") {
              store.state.certificates = step_information.value;
              f7.views.main.router.navigate('/certificates/', { reloadCurrent: true });
            }
        };

        const createMap = () => {
            if (internal_map_info.value) {
                const latitude = internal_map_info.value.latitude;
                const longitude = internal_map_info.value.longitude;
                const container = document.getElementById("map");

                if (container) {
                    let map = L.map("map").setView([latitude, longitude], 17);
                    L.tileLayer(
                        "http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}",
                        {
                            maxZoom: 20,
                            subdomains: ["mt0", "mt1", "mt2", "mt3"],
                        }
                    ).addTo(map);
                    var marker = L.marker([latitude, longitude]).addTo(map);
                }
            }
        };

        onMounted(() => createMap());

        return {
            internal_map_info,
            getSoilOperations,
            createMap,
        };
    },
};
</script>

<style scoped>
.icon-bg-color {
    background-color: var(--icon-bg-color) !important;
}
.info {
    padding: 12px;
    background-color: var(--icon-bg-color) !important;
}

.title-info {
    font-size: 14px;
    color: var(--secondary-letter-color);
    padding-left: 5px;
}

.content-info {
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: bold;
}

.align-right {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    margin-bottom: 0.5rem;
}

.no-bold {
    font-weight: normal;
    size: var(--title-font-size) !important;
    color: var(--terciary-color);
}

.padding-block {
    padding: 12px;
}

.secondary-color-bg {
    background-color: var(--secondary-color) !important;
}

.primary-color-bg {
    background-color: var(--primary-color);
}

.row {
    justify-content: initial !important;
}

.logo-container {
    width: 32px;
    height: 32px;
    display: flex;
    background-color: var(--icon-bg-color) !important;
    margin-right: 11.5px;
}

.logo {
    margin: 20% auto;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    height: 180px;
    width: 95%;
    margin: 5px auto;
}

.map-icon {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}
</style>
