<template>
    <f7-block class="primary-color-bg padding-block">
        <f7-row class="row">
          <f7-col class="logo-container"
                  v-for="(obj, index) in index_processing_steps"
                  :key="`${index}-${obj}`"
                  @click="changeProcessingStep(index);"
          >
            <img
              :src="`${obj.operation_type === 'HarvestingOperation' ? harvestingOperation : packagingOperation}`"
              alt="sequence logo"
              class="logo"
              :class="index != current_index ? 'icon-opacity' : ''"
            />
          </f7-col>
        </f7-row>
    </f7-block>
</template>

<script>
import { ref } from 'vue';
import store from '../../js/store.js';
import harvestingOperation from "../../static/icons/HarvestingOperation.png";
import packagingOperation from "../../static/icons/PackagingOperation.png";

export default {
  emits: ['updateParams'],
  setup(props, {emit}) {
      const index_processing_steps = ref(store.state.lot)
      const current_index = ref(store.state.processing_index)

      const changeProcessingStep = (index) => {
        store.state.active_processing_step = index_processing_steps.value[index]
        current_index.value = index

        emit("updateParams", store.state.active_processing_step)
      }

      return {
        index_processing_steps,
        current_index,
        changeProcessingStep
      }
  },
  computed: {
    harvestingOperation: () => harvestingOperation,
    packagingOperation: () => packagingOperation,
  },
}

</script>

<style scoped>

  .logo-container {
      width: 32px;
      height: 32px;
      background-color: var(--icon-bg-color) !important;
      margin-right: 11.5px;
    }

  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .logo {
      margin: 20% 20% auto;
    }

  .icon-opacity {
    opacity: 50%;
  }

  .row {
      justify-content: initial !important;
    }

  .active {
    color: var(--primary-color) !important;
  }
  .padding-block {
      padding: 12px;
    }
</style>
