:root {
    /* Color variables */
    --primary-color: #82B337;
    --secondary-color: #344816;
    --terciary-color: #F3F7EB;
    --ternary-color: #679A3F;

    --icon-color: #E5EEF7;
    --icon-bg-color: #E6F0D7;
    --secondary-letter-color: #9B9B9B;
    --home-tip-color: #434E6F;

    /* Theme variables */
    --f7-theme-color: var(--primary-color);

    /* Font-sizes variables */
    --title-font-size: 18px;
    --small-font-size: 14px;

    /* Navbar variables */
    --f7-navbar-bg-color: var(--primary-color);
    --f7-navbar-title-margin-left: 0px;

    /* Block variables */
    --f7-block-margin-vertical: 0px;
    --f7-block-margin-bottom: 0px;
    --f7-block-padding-vertical: 0px;
    --f7-block-padding-horizontal: 0px;
    --f7-block-text-color: var(--terciary-color);
    --f7-block-bg-color: var(--terciary-color);


    /* Block title variables */
    --f7-block-title-margin-vertical: 0px;
    --f7-block-title-margin-bottom: 0px;
    --f7-block-title-text-color: var(--icon-color);
    --f7-block-title-font-size: var(--title-font-size);

    /* List variables */
    --f7-list-margin-vertical: 0px;
    --f7-list-item-title-font-size: var(--title-font-size);
    --f7-list-item-title-text-color: var(--terciary-color);
    --f7-list-bg-color: var(--secondary-color);
    --f7-list-chevron-icon-color: var(--terciary-color);

    /* Block header variables */
    --f7-block-header-font-size: var(--title-font-size);
    --f7-block-header-text-color: var(--terciary-color);
    --f7-block-header-margin: 0px;

    /* Block footer variables */
    --f7-block-footer-font-size: var(--small-font-size);
    --f7-block-footer-text-color: var(--home-tip-color);

    /* Input variables */
    --f7-input-text-color: var(--home-tip-color);
}