<template>
    <f7-page name="lot">
        <NavBar />
        <f7-block-title class="secondary-color-bg padding-block">{{
            step_information.operation_name
        }}</f7-block-title>
        <HorizontalIcons @updateParams="updateParams($event)" />
        <f7-block>
            <ExtendedInfo
                :step_information="step_information"
                title="Summary"
                :has_extended_info="false"
                :location_icon="location_icon"
            />
            <ExtendedInfo
                v-for="(value, key) in extra_info"
                :location_icon="hasLocation(key, value)"
                :key="`${key}-${value}`"
                :step_information="value"
                :title="key"
                :has_extended_info="checkExtendedInfo(key, value)"
            />
        </f7-block>
    </f7-page>
</template>

<script>
import { onMounted, ref } from "vue";
import NavBar from "../components/lot/NavBar.vue";
import HorizontalIcons from "../components/lot/HorizontalIcons.vue";
import ExtendedInfo from "../components/lot/ExtendedInfo.vue";
import AccordionInfo from "../components/lot/AccordionInfo.vue";
import store from "../js/store.js";

export default {
    components: { NavBar, HorizontalIcons, ExtendedInfo, AccordionInfo },
    setup(props) {
        const lot = ref(store.state.lot);
        const step_information = ref("");
        const extra_info = ref({});
        const accordion_info = ref("");
        const location_icon = ref("");

        const checkExtendedInfo = (key, value) => {
            if (key == "parcel" || key == "certificates") {
                return key;
            }
            return false;
        };

        const hasLocation = (key, value) => {
            if (value.location) {
                return value.location;
            }
            return null;
        };

        const checkMapInfo = (key, value) => {
            if (key == "farm") {
                return {
                    id: "map",
                    latitude: value["map"]["latitude"],
                    longitude: value["map"]["longitude"],
                };
            }
        };
        const parseStepInformation = (obj) => {
            extra_info.value = {};
            store.state.dotted_information = "";
            location_icon.value = "";
            for (const [key, value] of Object.entries(obj)) {
                if (typeof value == "object" && value != null) {
                    extra_info.value[key] = value;
                }
                if (key == "location") {
                    location_icon.value = value;
                }
            }
            step_information.value = obj;
        };

        const initLot = (obj) => {
            extra_info.value = {};
            store.state.dotted_information = "";
            for (const [key, value] of Object.entries(obj)) {
                if (typeof value == "object" && value != null) {
                    extra_info.value[key] = value;
                    if (key == "parcel") {
                        store.state.soil_operation = value["operation"];
                    }
                }

                if (key == "location") {
                    location_icon.value = value;
                }
            }
            step_information.value = obj;
        };

        const updateParams = (value) => {
            parseStepInformation(value);
        };

        onMounted(() => initLot(lot.value[0]));

        return {
            lot,
            step_information,
            extra_info,
            location_icon,
            accordion_info,
            updateParams,
            hasLocation,
            checkExtendedInfo,
            checkMapInfo,
            initLot,
            parseStepInformation,
        };
    },
};
</script>

<style scoped>
.no-bold {
    font-weight: normal;
    size: var(--title-font-size) !important;
    color: var(--terciary-color);
}

.padding-block {
    padding: 12px;
    text-transform: capitalize;
}

.secondary-color-bg {
    background-color: var(--secondary-color);
}

.primary-color-bg {
    background-color: var(--primary-color);
}

.row {
    justify-content: initial !important;
}

.logo-container {
    width: 32px;
    height: 32px;
    display: flex;
    background-color: var(--icon-bg-color) !important;
    margin-right: 11.5px;
}

.logo {
    margin: 20% auto;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-right {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
}

.info {
    padding: 12px;
    background-color: var(--icon-bg-color) !important;
}

.title-info {
    font-size: 14px;
    color: var(--secondary-letter-color);
    padding-left: 5px;
}

.content-info {
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: bold;
}

/* for the moment i won't use it */
.contacts-list li:not(.list-group-title) {
    padding-left: 0px;
}
</style>
