<template>
    <f7-page name="qr-scan">
        <f7-navbar class="navbar">
            <f7-nav-left>
                <f7-link href="/home/" force back back-link="Back">
                <f7-icon icon="icon-back"></f7-icon>
                </f7-link>
                <f7-nav-title class="text-left">Barcode Scan</f7-nav-title>
            </f7-nav-left>
        </f7-navbar>
        <div id="barcode-scanner">
        </div>
    </f7-page>
</template>

<script>
import Quagga from 'quagga';
import { onMounted, onUnmounted } from '@vue/runtime-core';
import getLot from '../services/pieService.js';

export default {
    components: [Quagga],
    setup(props) {
      const onDecode = (result) => console.log(result)
      const orderByOccurence = (arr) => {
          let counts = {};
          arr.forEach(function(value) {
            if(!counts[value]) {
              counts[value] = 0;
            }
            counts[value]++;
          });

          return Object.keys(counts).sort((curKey, nextKey) => {
            return counts[curKey] < counts[nextKey];
          })
        }

        const loadQuagga = () => {
          if (navigator.mediaDevices && typeof navigator.mediaDevices.getUserMedia === 'function') {
            let lastResult = [];
            if (Quagga.initialized == undefined) {
              Quagga.onDetected((result) => {
                let lastCode = result.codeResult.code;
                lastResult.push(lastCode);

                if (lastResult.length > 20) {
                  let code = orderByOccurence(lastResult)[0];
                  lastResult = [];
                  Quagga.stop();
                  getLot(code);
                }
              })
            }

            Quagga.init({
                inputStream : {
                  name : "Live",
                  type : "LiveStream",
                  numOfWorkers: navigator.hardwareConcurrency,
                  target: document.querySelector('#barcode-scanner')
                },
                decoder : {
                  readers : ["code_128_reader"]
                }
              }, function(err) {
                  if (err) {
                      console.log(err);
                      return
                  }
                  Quagga.initialized = true;
                  Quagga.start();
              });
          }
        }

        onMounted(() => loadQuagga());
        onUnmounted(() => Quagga.stop());

        return {
          orderByOccurence,
          onDecode,
          loadQuagga
        }
    }
}

</script>

<style scoped>
  .navbar {
    background-color: var(--primary-color) !important;
    color: var(--terciary-color);
  }

  .icon-back:after {
    color: var(--terciary-color);
  }

  #barcode-scanner {
    height: 400px;
    width: 90%;
    position: relative;
    overflow: hidden;
    margin: 0  auto;
    margin-top: 55%;

  }

  video {
    width: 100% !important;
    height: auto;
  }
</style>
